/* 등록 버튼 */
.add_button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 16vw;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 1vh;

    /*background: linear-gradient(135deg, #55efcb 0%, #1e5799 0%, #55efcb 0%, #5bcaff 100%);*/
    background: linear-gradient(#f5bfab 0%, #f6d1b3, #f5bfab, #f6aeb3,  #f3c992, #ffb4cb 100%);
    color: #f7f7f7;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

.button1 {
    flex: 1 1 auto;
    margin: 10px;
    padding: 20px;
    border: 2px solid #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: 0.3s;


}
.button1:after {
    position: absolute;
    transition: 0.3s;
    content: "";
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
}
.button1:hover {
    cursor: pointer;
}
.button1:hover:after {
    width: 100%;
    left: 0;
}
.button1:hover:nth-of-type(1) {
    box-shadow: 0px 0px 0px 3px #f7f7f7;
}
.button1:hover:nth-of-type(1):after {
    width: 0%;
}


/* ================================================================*/
/*강아지 종 선택 버튼 */
/*body {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  background-color: #004882;*/
/*}*/

/*.box {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*}*/

.box select {
    background-color: #f5bfab;
    color: white;
    padding: 12px;
    width: 140px;
    border: none;
    font-size: 14px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 30px;
}